body {
    font-family: Helvetica, 'Lucida Grande', sans-serif;
    width: 940px;
    margin-right: auto;
    margin-left: auto;

}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    margin: 30px;
    padding: 15px;
    border: 1px solid lightgrey;
}


.titulo {
    padding: 10px;
    font-size: 32px;
    color: #3d3d3d;
    background-color: #E1EDF2;
}

.subtitulo {
    border-bottom: 2px solid black;
}

h3 {
    border-bottom: 4px solid #926060;
}

ul {
    list-style-image: url("../img/footer-icone-instagram.svg");
}

ol {
    list-style-type: upper-roman;
}

a {
    text-decoration: none;
    color: red;

}

.matriz {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia {
    float: right;
    width: 275px;
}

figure img {
    width: 100%;
}

.contatosecao {}

.contatosecao--telefone {}

.contatoinfo {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contatoinfo--titulo {}

.contatoinfo--descricao {}

.contatosubtitulo {
    display: inline;
}